/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
		background-image: url('../images/bgCave.jpg');
		background-size: contain;
		opacity: 0.7
}
.card:hover {
  opacity: 1;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0; font-family: 'RopaSans-Regular';}
ul, ol {margin: 0;padding:0;}
p {margin: 0;}
html, body{

	font-family: 'Roboto', sans-serif;
   font-size: 100%;
   background:#fff;
}
@font-face {
    font-family: 'RopaSans-Regular';
    src:url(../fonts/RopaSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Courgette-Regular';
    src:url(../fonts/Courgette-Regular.ttf) format('truetype');
}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;
}
/*--header  start here--*/
/*-- header --*/
.navbar-nav {
    float: none;
    margin: 5px auto 0;
    width: 100% ! important;
}
.navbar-default {
    background-color:#EAE089! important;
    border-color:#EAE089 ! important;
}
.navbar {
    border-radius: 0px ! important;
}
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: none ! important;
}
.navbar-default .navbar-nav > li > a {
    color:#000;
    font-size: 1.1em;
    font-weight: 400;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8E0000;
    background-color:#EAE089;
	border-bottom:2px solid #8E0000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#8E0000;
    background-color:#EAE089;
	border-bottom:2px solid #8E0000;
}
.glyphicon {
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon {
    color: #fff;
    font-size: 2em;
    display: inline-block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 4px ! important;
	margin: 0 20px;
}
.logo h1 a {
    color: #8E0000;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 auto;
}
.logo h1{
    margin: 0;
}
.search-box {
  float: right;
}
.logo {
    float: left;
    width: 24%;
}
nav.navbar.navbar-default {
    float: left;
    width: 66%;
    margin:0;
}
/*--*/
.sb-search {
    width: 0%;
    position: absolute;
    top: 1.9em;
    right: 14em;
    min-width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}
.sb-search-input {
    position: absolute;
    top: 0;
    right: 3em;
    border: none;
    outline: none;
    background: #8E0000;
    width: 100%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 5px 17px 5px 60px;
    font-size: 15px;
    color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search, .sb-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 71px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
	 background: #fff url('../images/search.png') no-repeat 9px 9px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
	border-radius:50%;
}
.sb-icon-search {
    background: #fff url('../images/search.png') no-repeat 9px 9px;
    z-index: 90;
	border-radius:50%;
}
/* Open state */
.sb-search.sb-search-open, .no-js .sb-search {
    width: 19%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #fff url('../images/search.png') no-repeat -20px 7px;
	color: #fff;
	z-index: 11;
	border-radius:50%;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
.banner-info {
    padding: 20em 0 0;
}
.dropdown-buttons {
    padding: 0;
}
/*--*/
.header {
/*-- w3layouts --*/
    background-color:#EAE089;
    padding: 1.5em 0;
}
/*-banner start here--*/
.banner{
  background:#eae089;
  min-height: 780px;
  background-size: cover;
  position:relative;
}
.banner-main {
    padding: 1em 0em 0em 0em;
    width: 100%;
	text-align:center;
}
.banner-main h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #8E0000;
	text-align:center;
}
.banner-main p {
    font-size: 1em;
    font-weight: 400;
    color: #000;
    line-height: 1.6em;
   text-align:center;
    margin: 1.5em 0 0;
    padding: 0;
}
.bann-info {
  padding: 5em 0em 5em 0em;
}
.bann-info-grid img {
  border-radius: 10px 10px 0px 0px;
}
.ban-info-details {
  padding: 0.5em 0.3em 1em 0.3em;
  text-align: center;
  border-radius:0px 0px 10px 10px;
  background:#BA0C2F
}
.ban-info-details:hover{
	background:#ffcd00;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*-- agileits --*/
.ban-info-details h3{
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0.2em 0em;
}
.ban-info-details p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: 1.6em;
  text-align: center;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    height: auto;
    display: inline-block !important;
}
/*--banner end here--*/
/* -- admission --*/
.admission{
	padding:5em 0;
}
.admission h1{
	color:#000;
	font-size:2em;
	margin-bottom:0.5em;
}
.admission p{
	color:#777;
	font-size:0.95em;
	line-height:1.8em;
	margin-bottom:2em;
}
.admission_left{
	padding-left:0;
}
.admission_left h2, .admission_right h3{
	font-size:1.5em;
	color:#000;
	margin-bottom:1em;
}
.admission_right{
	padding-right:0;
}
.timetable {
    width: 100%;
    font-size: 11px;
    margin-top: 1.5em;
/*-- w3layouts --*/
}
.timetable th, .timetable td {
    text-align: center;
    padding: 7px;
    border: 1px solid #E2E2E2;
    background: #fff;
    color: #000;
    font-weight:100;
}
.timetable th {
    background: #2f374c;
    color: #fff;
     text-transform: uppercase;
    font-size: 14px;
}
.timetable td{
	border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}
input.no-box {
    padding: 0px 10px;
    height: 22px;
    width: 100%;
    float: left;
    border: none;
    outline: none;
}
.input-group1 input[type="text"], select {
	border: 1px solid #e2e2e3;
}
ul.items_list, ul.items_list1{
	display:none;
}
.photo{
	padding-left:0;
}
.form-field {
    margin: 1em 0;
}
.form_box{
	padding-left: 0;
}
.form_box1{
	padding:0;
}
/*-- agileits --*/
.input-group1 {
    margin-top: 10px;
}
.form-group1{
	padding:0;
	margin: 1em 0;
}
.control-lable{
	padding:0;
}
.radio label, .checkbox label, label {
    font-size: 0.95em;
    font-weight: 300;
    vertical-align: middle;
    color:#777;
}
.radios label:first-child {
    margin-left: 0;
}
.radios label {
    margin-left: 15px;
}
ul.social-icons1 li {
    display: inline-block;
    margin: 0 5px;
}
.fa {
    color: #eae089;
    font-size: 1.7em ! important;
}
.fa:hover{
    color: #fff;
}
/*-- faculty --*/
.faculty_top{
	margin-bottom:2em;
}
figure.team_member {
    position: relative;
    overflow: hidden;
    color: #fff;
}
figure.team_member img + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
    background-image: -moz-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
    background-image: -ms-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
    background-image: -o-linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
    background-image: linear-gradient(to top, rgba(0,0,0,.7) 5%, rgba(0,0,0,.1) 90%);
}
figure.team_member figcaption {
    position: absolute;
    top: 63%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
figure.team_member figcaption h3 {
    margin: 0 0 8px 0;
}
figure.team_member figcaption h3 a, figure.team_member figcaption p a{
	color: #fff;
}
figure.team_member figcaption h3 a:hover, figure.team_member figcaption p a:hover, ul.social-person li a:hover{
	color:#f1b458;
}
figure.team_member figcaption span {
    margin-bottom: 15px;
    display: block;
}
p.person-deg1{
	margin-bottom:20px !important;
}
figure.team_member figcaption p {
    margin-bottom: 0;
    color: #fff;
}
.title-variation1 .style-title1, .course-details .cousre-details-img .course-title, figure.themeumlms-course-img figcaption, figure.team_member:hover figcaption {
    background-color:rgba(234, 224, 137, 0.5);
}
figure.team_member:hover figcaption {
    top: 0;
}
figure.team_member:hover .person-social {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
figure.team_member:hover p, figure.team_member:hover .person-social {
    left: 0;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
figure, figcaption, img, h2, p, i, .person-social {
    -webkit-transition: all .5s;
    transition: all .5s;
}
/*--content--*/
/*--welcome--*/
.welcome {
    padding: 5em 0;
    text-align: center;
	background-color: #eee;
}
.welcome h3 {
    font-size: 3.5em;
    text-transform: capitalize;
    color: #8E0000;
}
.welcome-grids{
margin-top:3em;
}
span.glyphicon.glyphicon-heart {
    font-size: 3em;
    padding: 0.5em;
    color: #fff;
}
span.glyphicon.glyphicon-user {
    font-size: 3em;
    padding: 0.5em;
    color: #fff;
}
span.glyphicon.glyphicon-glass {
    font-size: 3em;
    padding: 0.5em;
    color: #fff;
}
.welcome-grid h4 {
    font-size: 1.8em;
    text-transform: capitalize;
    margin: 0.5em 0;
	color:#fff;
}
.welcome-grid p {
    font-size: 1em;
    line-height:2em;
	color:#eee;
}
.wel1 {
    background-color: #00405d;
    padding: 2em 2em;
}
.wel2 {
    background-color: #062f3c;
    padding: 2em 2em;
}
.wel3 {
    background-color:#2b82ad;
    padding: 2em 2em;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(234, 224, 137, 0.5);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--welcome--*/
/*--content-middle--*/
.content-middle {
  background: url(../images/1.jpg) no-repeat center;
  width: 100%;
  min-height: 250px;
  display: block;
  background-size: cover;
}
.mid-content{
	background:#00405D;
	padding:2em;
	width:35%;
	margin:5em auto 0;
	float:right;
}
.mid-content h3{
	text-transform:uppercase;
	font-size:2.5em;
	color:#fff;
}
.mid-content p{
	font-size:1em;
  	margin: 0.5em 0 0em;
  	line-height:2em;
  	color:#fff;
}
a.more-in{
	text-decoration: none;
	font-size: 0.9em;
	border: 1px solid #fff;
	color:#fff;
	padding: 0.3em 0.7em;
	display:inline-block;
	margin: 1em 0 0;
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #27da93;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a.more-in:before{
	background:#fff;
}
a.more-in:hover{
	color:#8E0000;
}
/*--content-middle--*/
/*--events--*/
.events {
  padding: 5em 0;
}
.events h4 {
  color: #000;
  font-size: 1.8em;
  text-align:center;
}
.events h3 {
    color: #8E0000;
    margin-bottom: 0.45em;
    font-size: 2.5em;
    line-height: 1.3em;
}
.events h5 {
  color: #000;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 1px;
}
.events p {
  font-size: 1em;
  color: #999;
  line-height: 1.8em;
  margin-top: 1.5em;
}
.events-right ul li:nth-child(1),.about ul li:nth-child(1) {
  margin: 0;
}
.events-right ul li,.about ul li{
  display: block;
  margin: 1em 0 0;
  position: relative;
}
.events-right ul li a,.about ul li a {
  color: #999;
  font-size: 1em;
  padding-left: 2em;
}
.events-right ul li a:hover,.about ul li a:hover {
  color: #000;
}
.events-right ul li a:before,.about ul li a:before  {
  content: '';
  background: url(../images/icon6.png)no-repeat 0px -3px;
  position: absolute;
  top: 20%;
  left: 0%;
  display: block;
  width: 15px;
  height: 11px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
.events-right ul li a:hover:before,.about ul li a:hover:before {
  left: 1.5%;
}
.bnr-galry img {
    margin-top: 2em;
}
/*--//events--*/
/*---start-footer-----*/
.footer {
    background: #32383C;
    padding: 5em 0 2em;
}
.footer-grid{
	float:left;
	width:23%;
	margin-right:2%;
}
.footer-grid h3 {
    font-size: 1.7em;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1.3em;
}
.footer-grid p{
	font-size:1em;
	color: rgb(135, 138, 140);
	line-height:1.8em;
}
.footer-grid ul li{
	list-style-type:none;
}
.footer-grid ul li a {
    display: block;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(135, 138, 140);
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    text-decoration: none;
}
.footer-grid ul li a:hover{
	color:#fff;
	text-decoration:none;
}
.footer-lastgrid{
	margin:0;
}
.email-link{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
.email-link:hover{
	color:rgb(135, 138, 140);
}
/*---start-copy-right-----*/
.copy-right {
    text-align: center;
    padding: 3em 0 0;
}
.copy-right p {
    font-size: 1em;
    color: rgb(135, 138, 140);
    text-transform: capitalize;
    line-height: 1.8em;
}
.copy-right p a{
	color:#fff;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:rgb(135, 138, 140);
	text-decoration:underline;
}
/*--- //footer ----*/
.banner-1 {
    background:#EAE089;
    min-height: 103px;
    background-size: cover;
}
.about-right {
    float: right;
    width: 50%;
    padding: 0 0 0 1em;
}
.about-left {
    float: left;
    width: 50%;
}
.about h3 {
    color: #8E0000;
    font-size: 2.3em;
    margin: 0 0 1em;
}
.about,.facilities,.typo,.contact,.services {
    padding: 5em 0;
}
.about h4 {
    font-size: 1.4em;
    color: #000;
    margin: 0;
}
.about p {
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0 0;
    color: #999;
}
.about h5 {
    color: #8E0000;
    font-size: 3em;
    margin: 0;
    font-weight: 700;
}
.bt-lft {
    float: left;
    width: 12%;
}
.bt-rgt {
    float: right;
    width: 88%;
}
.about-btm {
    margin: 5em 0 0;
}
.ab-lf {
    margin-bottom: 2em;
}
/*-- gallery-page --*/
.view {
  width: 31.5%;
  height: 100%;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
  width: 100%;
  height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
}
.view-seventh .mask {
   background-color:#EAE089;
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
   -webkit-transition: all 0.9s ease-out;
   -moz-transition: all 0.9s ease-out;
   -o-transition: all 0.9s ease-out;
   -ms-transition: all 0.9s ease-out;
   transition: all 0.9s ease-out;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view h4 {
    text-transform: uppercase;
    color: #e6e6e6;
    text-align: center;
    position: relative;
    font-size: 24px;
    padding: 10px;
    background: #8E0000;
    margin: 4em 0 0;
}
.view p {
  font-style: italic;
  font-size: 14px;
  line-height: 2em;
  position: relative;
  color: #fff;
  padding: 0px 20px 20px;
  text-align: center;
}
.view.view-seventh img {
  width: 100%;
}
/*-- //gallery-page --*/
/*--Typography--*/
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
h3.title {
    color: #8E0000;
    font-size: 3em;
    text-align:center;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#8E0000;
	font-size:2em;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
padding:0;
}
.in-gp-tb{
padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.banner {
		min-height: 405px;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- contact-page --*/

.contact-form {
	margin-bottom: 3.5em;
    margin-top: 1em;
}
.contact h3 {
    color: #8E0000;
    font-size: 2.5em;
    margin: 0 0 1em;
	text-align:center;
}
p.your-para {
  color: #464646;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 20px 0;
  background: #fff;
  font-size: 14px;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height:180px;
}
.contact-in h4 {
    color: #000;
    font-size: 1.4em;
    margin: 0 0 15px 0;
    line-height: 1.5em;
    text-transform: uppercase;
}
p.para1{
  color: #999;
  font-size: 1em;
  line-height: 2em;
}
.address-more,.address-left{
	float:left;
	width:40%;
}
.contact-grid {
  padding-left: 0;
}
.address-more p, .address-left p{
  color: #999;
  font-size: 1em;
  line-height: 2em;
}
.address-left p a {
text-decoration:none;
  color: #999;
}
.address-left p a:hover {
	color: #8E0000;
}
.more-address{
	padding:2em 0;
}
.map iframe {
  width: 100%;
  height:400px;
  border: none;
}
.send input[type="submit"] {
  font-size: 1em;
  background: #242a2c;
  padding: 0.7em 2em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  -webkit-appearance: none;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing:1px;
}
.send input[type="submit"]:hover {
  background:#8E0000;
}
/*-- //contact-page --*/
.about h2,.services h2,.facilities h2,.contact h2{
	font-size: 3em;
    text-transform: capitalize;
    color: #8E0000;
	text-align:center;
	margin:0 0 1.5em;
}
.services h4 {
    font-size: 1.5em;
    color:#910C11;
    text-transform: capitalize;
    margin: 0.5em 0 0.3em;
}
.services p {
   font-size:1em;
	line-height:1.8em;
	color:#999;
}
.services-grids {
    margin-top: 3em;
}
a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block;
}
img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
img.zoom-img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
/*-- single --*/
.single {
    padding: 5em 0;
}
.single-left1 h2 {
    margin: 1em 0 0.5em;
    text-transform: capitalize;
    font-size: 1.7em;
    color: #000;
    line-height: 1.5em;
}
.single-left1 ul li {
    display: inline-block;
    margin-right: 3em;
    color: #999;
}
.single-left1 ul li span {
    color: #8E0000;
    font-size: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.single h3 {
    color: #8E0000;
    font-size: 2em;
}
.single-left1 ul li a{
	color:#999;
	font-style:italic;
	text-decoration:none;
}
.single-left1 ul li a:hover{
	color:#8E0000;
}
.single-left1 p{
	margin:2em 0;
	color:#999;
	line-height:1.8em;
	font-size:1em;
}
.admin{
	padding:2em;
	background:#212121;
	margin: 3em 0;
}
.admin p{
	color:#f5f5f5;
	font-size:14px;
	margin:0;
	line-height:1.8em;
	position:relative;
	padding-left:3.5em;
}
.admin p:before{
	position:absolute;
	top:0%;
	left:0%;
	content:'';
	background:url(../images/img-sp.png) no-repeat -6px -263px;
	width:32px;
	height:32px;
	display:block;
}
.admin a{
	display:block;
	text-align:right;
	color:#C59C45;
	font-size:1em;
	text-decoration:none;
}
.admin a:hover{
	color:#fff;
}
.comments-grids{
	margin:3em 0 0;
}
.comments-grid-left{
	float:left;
	width:16%;
}
.comments-grid-right{
	float:right;
	width:80%;
}
.comments-grid-right ul{
	padding:1em 0;
}
.comments-grid-right ul li{
	display:inline-block;
	color:#999;
	font-size:1.1em;
}
.comments-grid-right ul li i{
	margin:0 1em;
	font-style:normal;
}
.comments-grid-right ul li a{
	color:#8E0000;
	text-decoration:none;
}
.comments-grid-right ul li a:hover{
	color:#C59C45;
}
.comments-grid-right h4 a{
	font-size:1.2em;
	color:#000;
	text-decoration:none;
}
.comments-grid-right h4 a:hover{
	color:#8E0000;
}
.comments-grid-right p{
	font-size:1em;
	color:#999;
	line-height:1.8em;
	margin:0;
}
.comments-grid:nth-child(2){
	margin:2em 0;
}
.comments-grid:nth-child(3){
	margin:0 0 2em;
}
.leave-coment-form {
    margin: 3em 0 0;
    width: 70%;
}
.leave-coment-form input[type="text"],.leave-coment-form input[type="email"],.leave-coment-form textarea{
	outline: none;
    border: 1px solid #CECECE;
    background: #f5f5f5;
    padding: 10px;
    font-size: 14px;
    color: #999;
    width:48.7%;
}
.leave-coment-form input[type="email"]{
	margin-left:1em;
}
.leave-coment-form textarea{
	min-height:200px;
	resize:none;
	width:100% !important;
	margin:1em 0 0.8em;
}
.leave-coment-form input[type="submit"]{
	outline: none;
    border: none;
    background: #8E0000;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    width: 30%;
    margin-left: 32em;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.leave-coment-form input[type="submit"]:hover{
	background:#000;
}
.leave-coment-form form {
    margin: 3em 0 0;
}
.comments {
    width: 70%;
}
/*-- //single --*/
.faculty_grid {
    margin-bottom: 2em;
}
@media(max-width:1440px){
.sb-search {
    right: 9.5em;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 23%;
}
}
@media(max-width:1366px){
.sb-search {
    right: 6.5em;
}
}
@media(max-width:1280px){
.sb-search {
    right: 3.5em;
}
}
@media(max-width:1024px){
.sb-search {
    right: 3em;
}
.nav > li > a {
    margin: 0 10px ! important;
}
.wel2,.wel3,.wel1 {
    padding: 2em 0.5em;
}
figure.team_member figcaption {
    top: 55%;
}
.mid-content {
    width: 42%;
}
.view {
    width: 31%;
}
.view h4 {
    margin: 3em 0 0;
}
.leave-coment-form input[type="text"], .leave-coment-form input[type="email"], .leave-coment-form textarea {
    width: 48.6%;
}
.leave-coment-form input[type="submit"] {
    margin-left: 29em;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 32%;
}
}
@media(max-width:991px){
nav.navbar.navbar-default {
    width: 70% ! important;
}
.sb-search {
    right: 1em;
}
.nav > li > a {
    margin: 0 7px ! important;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}
.welcome {
    padding: 3em 0;
}
.welcome h3 {
    font-size: 3em;
}
.banner-main h3 {
    font-size: 2em;
}
.banner {
    min-height: 710px;
}
.welcome-grid {
    float: left;
    width: 33.33%;
}
.welcome-grid p,.mid-content p,.events p,.about p,.services p,p.para1,.address-more p, .address-left p,.single-left1 p,.comments-grid-right p {
    font-size: 0.95em;
}
.welcome-grid h4 {
    font-size: 1.7em;
}
.admission {
    padding: 3em 0;
}
.faculty_grid {
    float: left;
    width: 33.33%;
}
figure.team_member figcaption {
    top: 43%;
}
.mid-content {
    width: 49%;
}
.mid-content h3 {
    font-size: 2em;
}
.events h3 {
    font-size: 2em;
}
.events-left {
    margin-bottom: 1.5em;
}
figure.team_member figcaption span {
    margin-bottom: 8px;
}
.bnr-galry-left,.bnr-galry-right {
    float: left;
    width: 50%;
}
.events {
    padding: 3em 0;
}
.footer {
    padding: 3em 0 1em;
}
.footer-grid p {
    font-size: 0.95em;
}
.footer-grid ul li a {
    font-size: 0.95em;
}
.footer-grid h3 {
    margin-bottom: 1em;
}
.banner-1 {
    min-height: 103px;
}
.about, .facilities, .typo, .contact, .services {
    padding: 3em 0;
}
.single {
    padding: 3em 0;
}
.about h2, .services h2, .facilities h2, .contact h2 {
    margin: 0 0 1em;
}
.footer-grid {
    float: left;
    width: 25%;
    margin-right: 0%;
}
.about h3 {
    margin: 0 0 0.5em;
}
.view {
    width: 30%;
}
.view h4 {
    margin: 1.9em 0 0;
}
.services-grid {
    float: left;
    width: 33.33%;
}
.contact-grid {
    padding-left: 1em;
    margin-bottom: 2em;
}
.leave-coment-form input[type="text"], .leave-coment-form input[type="email"], .leave-coment-form textarea {
    width: 48.2%;
}
.leave-coment-form input[type="submit"] {
    margin-left: 22em;
}
}
@media(max-width:800px){
.logo {
    float: left;
    width: 21%;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 41%;
}
}
@media(max-width:768px){
span.menu{
		display: block;
		text-align: center;
		padding: 1px 0px 0px 0px;
		cursor: pointer;
		color: #E74C3C;
		font-size: 16px;
		font-weight: 700;
		position:relative;
	}
.top-nav ul.res{
	 display:none;
	 padding:0px;
}
.top-nav ul.res {
		padding: 0;
		margin: 1.15em 0em 0em 0em;
		z-index: 999;
		position: absolute;
		width: 100%;
		left:0;
}
.top-nav ul.res li {
		display: block;
		text-align: center;
		background:#000;
		margin: 0;
		width: 100%;
}
.top-nav ul.res li a {
		font-size: 16px;
		padding: 1em 0;
		color: #fff;
		display: block;
}
ul.res li a:hover,ul.res li a.active{
	color:#000;
}
.nav-justified > li > a {
  margin-bottom: 0px;
}
.logo {
    float: left;
    width: 20%;
}
.about-btm {
    margin: 3em 0 0;
}
}
@media(max-width:767px){
.navbar-default .navbar-toggle {
    margin-right: 334px;
}
nav.navbar.navbar-default {
    width: 100% ! important;
    text-align: center;
}
.navbar-toggle {
    margin-top: -44px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle .icon-bar {
    height: 4px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #EAE089;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: none ! important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     border-bottom: none ! important;
}
}
@media(max-width:736px){
.navbar-default .navbar-toggle {
    margin-right: 322px;
}
}
@media(max-width:667px){
.navbar-default .navbar-toggle {
    margin-right: 289px;
}
}
@media(max-width:640px){
.logo {
    float: left;
    width: 27%;
}
.banner-main img {
    width: 39%;
}
.banner {
    min-height: 535px;
	padding:0 0 3em;
}
.welcome-grid {
    float: left;
    width: 100%;
    margin-bottom: 1.5em;
}
.faculty_grid {
    float: left;
    width: 50%;
}
figure.team_member figcaption {
    top: 54%;
}
.admission {
    padding: 3em 0 0;
}
.mid-content {
    width: 56%;
}
.about h3 {
    font-size: 2em;
}
.about,.typo, .contact, .services {
    padding: 3em 0 0;
}
.view {
    width: 46%;
}
.view h4 {
    margin: 2.5em 0 0;
	font-size:18px;
	padding:7px;
}
.facilities,.services {
    padding: 3em 0 2em;
}
.contact h3 {
    font-size: 2em;
}
.single-left1 ul li {
    margin-right: 2em;
}
.single-left1 h2 {
    font-size: 1.5em;
}
.single h3 {
    font-size: 1.8em;
}
.comments {
    width: 100%;
}
.leave-coment-form {
    width: 100%;
}
.navbar-default .navbar-toggle {
    margin-right: 271px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 51%;
}
.about h2, .services h2, .facilities h2, .contact h2 {
    font-size:2.5em;
}
h3.title {
    font-size: 2.5em;
}
}
@media(max-width:600px){
.navbar-default .navbar-toggle {
    margin-right: 257px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 61%;
}
}
@media(max-width:568px){
.navbar-default .navbar-toggle {
    margin-right: 240px;
}
}
@media(max-width:480px){
.welcome-grids {
    margin-top: 1em;
}
.welcome {
    padding: 3em 0 0;
}
.faculty_grid img {
    width: 100%;
}
.faculty_grid {
    float: left;
    width: 100%;
}
figure.team_member figcaption {
    top: 65%;
}
.admission {
    padding: 3em 0 0;
}
.mid-content {
    width: 70%;
}
.mid-content h3 {
    font-size: 1.8em;
}
.bnr-galry-left, .bnr-galry-right {
    float: left;
    width: 100%;
}
.footer-grid {
    float: left;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 1.5em;
}
.footer-grid h3 {
    margin-bottom: 0.5em;
}
.copy-right {
    text-align: center;
    padding: 0em 0 0;
}
.about-left {
    width: 100%;
    margin-bottom: 1em;
}
.about-right {
    width: 100%;
    padding: 0;
    margin-bottom: 1.5em;
}
.about h5 {
    font-size: 2.5em;
}
.view {
    width: 100%;
}
.view h4 {
    margin: 7em 0 0;
}
.services-grid {
    float: left;
    width: 100%;
    margin-bottom: 1.5em;
}
.services-grids {
    margin-top: 0em;
}
.contact-in h4 {
	font-size: 1.2em;
    line-height: 1.3em;
}
.single-left1 h2 {
    font-size: 1.3em;
}
.single-left1 ul li {
    margin-right: 1em;
}
.comments-grids {
    margin: 2em 0 0;
}
.leave-coment-form input[type="text"], .leave-coment-form input[type="email"], .leave-coment-form textarea {
    width: 47.8%;
}
.leave-coment-form input[type="submit"] {
    width: 37%;
    margin-left: 17em;
}
.comments-grid-left {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.comments-grid-right {
    float: right;
    width: 100%;
    text-align: center;
}
.navbar-default .navbar-toggle {
    margin-right: 190px;
}
.banner-main h3 {
    font-size: 1.7em;
}
.banner-main p {
    font-size: 0.9em;
}
.banner {
    min-height: 458px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 80%;
}
.view {
    margin: 0;
}
.facilities {
    margin-bottom: 2em;
}
.address-more, .address-left {
    float: left;
    width: 100%;
}
.map iframe {
    width: 100%;
    height: 160px;
}
}
@media(max-width:414px){
.welcome h3 {
    font-size: 2.5em;
}
.welcome-grids {
    margin-top: 1.5em;
}
.welcome {
    padding: 3em 0 0;
}
.mid-content h3 {
    font-size: 1.4em;
}
.mid-content p {
    line-height: 1.7em;
}
.mid-content {
    padding: 1em;
    margin: 2em auto 0;
}
.about h3 {
    font-size: 1.8em;
}
.bt-rgt {
    float: right;
    width: 80%;
}
.view h4 {
    margin: 6em 0 0;
}
.contact h3 {
    font-size: 1.8em;
}
.leave-coment-form input[type="text"], .leave-coment-form input[type="email"], .leave-coment-form textarea {
    width: 100%;
}
.leave-coment-form input[type="email"] {
    margin-left: 0em;
    margin-top: 1em;
}
.leave-coment-form input[type="submit"] {
    width: 43%;
    margin-left: 13em;
}
.comments-grid-right ul li {
    font-size: 1em;
}
.leave-coment-form form {
    margin: 1.5em 0 0;
}
.navbar-default .navbar-toggle {
    margin-right: 164px;
}
.sb-icon-search {
    background: #fff url('../images/search.png') no-repeat 5px 5px;
}
.sb-icon-search, .sb-search-submit {
    width: 30px;
    height: 30px;
    top: 6px;
    background-size: 20px;
}
.sb-search-submit {
    background: #fff url('../images/search.png') no-repeat 5px 5px;
	 background-size: 20px;
}
}
@media(max-width:384px){
figure.team_member figcaption {
    top: 60%;
}
.mid-content h3 {
    font-size: 1.5em;
}
.events-right ul li a, .about ul li a {
    font-size: 0.95em;
}
.copy-right p {
    font-size: 0.95em;
}
.about h4 {
    font-size: 1.3em;
}
.bt-lft {
    float: left;
    width: 18%;
}
.view h4 {
    margin: 5.5em 0 0;
}
.leave-coment-form input[type="submit"] {
    margin-left: 12em;
}
 .navbar-default .navbar-toggle {
    margin-right: 142px;
}
}
@media(max-width:375px){
.view h4 {
    margin: 5em 0 0;
}
.leave-coment-form input[type="submit"] {
    width: 47%;
    margin-left: 11em;
}
.navbar-default .navbar-toggle {
    margin-right: 139px;
}
.logo h1 a {
    font-size: 1.1em;
}
.sb-search {
    top: 1.5em;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 89%;
}
}
@media(max-width:320px){
.welcome h3 {
    font-size: 2em;
}
.welcome {
    padding: 2em 0 0;
}
span.glyphicon.glyphicon-glass,span.glyphicon.glyphicon-user,span.glyphicon.glyphicon-heart {
    font-size: 2.5em;
    padding: 0;
}
.wel2, .wel3, .wel1 {
    padding: 1em 0.5em;
}
.welcome-grid p, .mid-content p, .events p, .about p,.services p,p.para1,.address-more p, .address-left p, .single-left1 p,.comments-grid-right p {
    font-size: 0.9em;
    line-height: 1.6em;
}
.admission {
    padding: 2em 0 0;
}
.faculty_top {
    margin-bottom: 0em;
}
.mid-content {
    width: 79%;
}
.mid-content h3 {
    font-size: 1.4em;
}
.events h3 {
    font-size: 1.8em;
}
.events h5 {
    font-size: 1.1em;
    line-height: 1.2em;
}
.events-right ul li a, .about ul li a {
    font-size: 0.9em;
}
.footer {
    padding: 1.5em 0 1em;
}
.footer-grid h3 {
    font-size: 1.5em;
}
.footer-grid p {
    font-size: 0.9em;
    line-height: 1.6em;
}
.footer-grid {
    padding: 0;
}
.about h4 {
    font-size: 1.2em;
}
.about h5 {
    font-size: 2em;
}
.about h2, .services h2, .facilities h2, .contact h2 {
    margin: 0 0 0.5em;
	font-size:2.3em;
}
.about, .facilities, .typo, .contact, .services {
    padding: 2em 0 0;
}
.about h3 {
    font-size: 1.7em;
}
.abt-left {
    padding: 0;
}
.abt-left {
    padding: 0;
}
.events-right ul li a, .about ul li a {
    padding-left: 1.7em;
}
.view h4 {
    margin: 4em 0 0;
}
.contact-grid {
    padding: 0;
}
.contact-in {
    padding: 0;
}
.contact-in h4 {
    font-size: 1.1em;;
}
.address-more, .address-left {
    float: left;
    width: 100%;
}
.more-address {
    padding: 1em 0 0;
}
.contact-form {
    margin-bottom: 1.5em;
    margin-top: 1em;
}
.send input[type="submit"] {
    padding: 0.5em 1.5em;
}
.single-left1 h2 {
    line-height: 1.3em;
    font-size: 1.2em;
}
.single h3 {
    font-size: 1.7em;
}
.leave-coment-form input[type="submit"] {
    width: 56%;
    margin-left: 7.5em;
}
.logo {
    float: left;
    width: 52%;
}
.navbar-default .navbar-toggle {
    margin-right: 111px;
}
.sb-search {
    right: 1em;
    top: 1em;
}
.welcome-grid {
    padding: 0;
}
.faculty_grid {
    padding: 0;
}
figure.team_member figcaption {
    top: 55%;
}
.events-left {
    padding: 0;
}
.events-right {
    padding: 0;
}
.events-right {
    padding: 0;
}
.ab-lf {
    padding: 0;
}
.banner-main h3 {
    font-size: 1.3em;
}
.banner-main p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0.5em 0 0;
}
.banner-main {
    padding: 0em 0em 0em 0em;
}
.banner {
    min-height: 360px;
}
.navbar-toggle {
    margin-top: -42px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 93%;
}
.contact-grid input[type="text"], .contact-grid textarea {
    padding: 8px 10px;
    margin: 0 0 14px 0;
}
.leave-coment-form input[type="text"], .leave-coment-form input[type="email"], .leave-coment-form textarea {
    padding: 8px 10px;;
}
.header {
    padding: 1em 0;
}
.banner-1 {
    min-height: 80px;
}
}
