{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{%block pseudo%}<li><a href="#">Bienvenue {{user.pseudo}}</a></li>{%endblock%}
{% block body %}
<div class="welcome w3l">
			<div class="container">
			<h3>Bienvenue</h3>
			{%if message is defined%}
			<h4>{{message}}</h4>
			{%endif%}
				<div class="welcome-grids">
					<div class="col-md-6 welcome-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="wel1 hvr-bounce-to-bottom">
						<a href="{{path('top_ten')}}"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span></a>
						<h4>Alcools populaires</h4>
						<p>Voir le top 10 des alcools préférés</p>
					</div>
					</div>
					{%if is_granted('ROLE_USER')%}
						<div class="col-md-6 welcome-grid wow fadeInLeft animated" data-wow-delay=".5s">
							<div class="wel1 hvr-bounce-to-bottom">
							<a href="{{path('cave_index')}}"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span></a>
							<h4>Caves</h4>
							<p>Voir mes caves à alcools</p>
						</div>
						</div>
						{%endif%}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
{% endblock %}
