<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
<title>{%block title%}CellarBeer V1{%endblock%}</title>
<link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{asset('js/jquery-1.11.0.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
<!-- Custom Theme files -->
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="{{asset('css/flexslider.css')}}" type="text/css" media="screen" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Wines Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroidCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--Google Fonts-->
<link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href="{{asset('https//fonts.googleapis.com/css?family=Roboto:400,700')}}" rel='stylesheet' type='text/css'>
<!--JS for animate-->
	<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css" media="all">
	<script src="{{asset('js/wow.min.js')}}"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->
</head>
<body>
<!--banner start here-->
<div class="banner">
	  <div class="container">
	 <div class="header">

				<div class="logo wow fadeInLeft animated" data-wow-delay=".5s">
					<h1><a href="{{path('home')}}">CellarBeer (V1)</a></h1>
				</div>
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
								<li class="active"><a href="{{path('home')}}">Accueil</a></li>
                {%if is_granted('ROLE_USER')%}
								<li><a href="{{path('cave_index')}}">Caves</a></li>
                {%endif%}
								<li><a href="{{path('contact')}}">Contact</a></li>
                {%if is_granted('ROLE_USER')%}
                <li><a href="{{path('app_logout')}}">Déconnexion</a></li>
                {%block pseudo%}{%endblock%}
                {%else%}
                <li><a href="{{path('app_login')}}">Connexion</a></li>
                <li><a href="{{path('app_register')}}">Inscription</a></li>
                {%endif%}
                {% if is_granted('ROLE_ADMIN')%}
                <li><a href="{{path('user_index')}}">admin</a></li>
                {%endif%}
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
					<div class="clearfix"> </div>
		</div>

<!--header end here-->
 	<div class="banner-main">

	  <section class="slider">
           <div class="flexslider">
             <ul class="slides">
				   <li>
				   <img src="{{asset('images/4444.png')}}" class="img-responsive" alt="">
				   <h3>Ton verre vide, tu remplieras</h3>
					<p>Quand le Saint Verre vide il sera, Le Saint Verre remplir tu devras</p>
				   </li>
				   <li>
				    <img src="{{asset('images/5555.png')}}" class="img-responsive" alt="">
				   <h3>L'apéro, tu prendras</h3>
					<p>Quand poto à l'apéro t'invitera, allez à l'apéro tu devras</p>
				   </li>
				   <li>
				    <img src="{{asset('images/4444.png')}}" class="img-responsive" alt="">
				   <h3>Ivre , tu ne conduiras pas</h3>
					<p>Si ivre tu es, conduiras tu ne fera</p>
				   </li>
          </ul>
        </div>
      </section>

	</div>

<!--FlexSlider-->
	<link rel="stylesheet" href="{{asset('css/flexslider.css')}}" type="text/css" media="screen" />
	<script defer src="{{asset('js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</div>
</div>
<!--banner end here-->
<!--welcome-->
{%block body%}
{%endblock%}
<!--welcome-->
<!--footer-->
<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-6 footer-grid animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Info</h3>
					<ul>
						<li><a href="#">CGU</a></li>
					</ul>
				</div>
				<div class="col-md-6 footer-grid animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Social</h3>
					<ul class="social-icons1">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copy-right animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				<p>© 2019 CellarBeer. All rights reserved | Design by <a href="https://fr.linkedin.com/in/vincent-agi-38976bb0">Vincent AGI</a></p>
			</div>
		</div>
	</div>
<!--footer-->
</body>
</html>
