<form method="post" action="{{ path('cave_delete', {'id': cave.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette cave ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cave.id) }}">
    <button class="btn btn-danger btn-block">Suprimer</button>
</form>
