{% extends 'base.html.twig' %}

{% block title %}Edit Cave{% endblock %}

{% block body %}
<div class="container">
      <h1>Editer Cave</h1>
  <div class="row">
    <div class="col-md-12">
      {{ include('cave/_form.html.twig', {'button_label': 'Update'}) }}

      <a href="{{ path('cave_index') }}" class="btn btn-block btn-success">Retour</a>

      {{ include('cave/_delete_form.html.twig') }}
    </div>

  </div>

</div>
{% endblock %}
