{% extends 'base.html.twig' %}

{% block title %}Cave index{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    {%for cave in caves%}
    <div class="card bg-success mb-3 col-md-3">
  <div class="card-header"><b>{{cave.nom}}</b></div>
  <div class="card-body">
    <p class="card-text"><i>{{cave.description}}</i></p>
    <small>
    <a href="{{path('voirAlcools', {'id': cave.id})}}" class="card-link">Voir</a>
    <a href="{{path('cave_edit', {'id': cave.id})}}" class="card-link">Editer</a>
    <a href="{{path('cave_delete',{'id': cave.id})}}" class="card-link">Supprimer</a>
    </small>
  </div>
</div>
    {%else%}
    <p class="alert alert-success text-center" role="alert">Pas encore de cave dans votre profil</p>
    {%endfor%}
  </div>
</div>

    <a href="{{ path('cave_new') }}" class="btn btn-block btn-success">Nouveau</a>
{% endblock %}
