{% extends 'base.html.twig' %}

{% block title %}New Cave{% endblock %}

{% block body %}
<div class="container">
      <h1>Nouvelle cave</h1>
  <div class="row">
    <div class="col-md-12">
      {{ include('cave/_form.html.twig') }}

      <a href="{{ path('cave_index') }}" class="btn btn-success btn-block">Retour</a>
    </div>
  </div>
</div>
{% endblock %}
