{% extends 'base.html.twig' %}

{% block title %}Cave{% endblock %}

{% block body %}
<div class="container">
      <h1>Cave</h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{ cave.id }}</td>
                  </tr>
                  <tr>
                      <th>Nom</th>
                      <td>{{ cave.nom }}</td>
                  </tr>
              </tbody>
          </table>

          <a href="{{ path('cave_index') }}" class="btn btn-succes btn-block">Retour</a>

          <a href="{{ path('cave_edit', {'id': cave.id}) }}" class="btn-block btn btn-sucess">Editer</a>

          {{ include('cave/_delete_form.html.twig') }}
        </div>
      </div>
</div>
{% endblock %}
