{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
      <h1>Editer User</h1>
      <div class="row">
        <div class="col-md-12">
          {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

          <a href="{{ path('user_index') }}" class="btn btn-success btn-block">Retour</a>

          {{ include('user/_delete_form.html.twig') }}
        </div>

      </div>
</div>
{% endblock %}
