{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
      <h1>User index</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
          <thead>
              <tr>
                  <th>Email</th>
                  <th>Roles</th>
                  <th>Nom</th>
                  <th>Pseudo</th>
                  <th>actions</th>
              </tr>
          </thead>
          <tbody>
          {% for user in users %}
              <tr>
                  <td>{{ user.email }}</td>
                  <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                  <td>{{ user.nom }}</td>
                  <td>{{ user.pseudo }}</td>
                  <td>
                      <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success">show</a>
                      <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">edit</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <p class="alert alert-success text-center" role="alert">Pas d'alcoolique dans votre base</p>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      <a href="{{ path('user_new') }}" class="btn btn-success">Nouveau</a>
    </div>

  </div>

</div>
{% endblock %}
