{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container">
      <h1>Nouvel Utilisateur</h1>
  <div class="row">
    <div class="col-md-12">
      {{ include('user/_form.html.twig') }}

      <a href="{{ path('user_index') }}" class="btn btn-success btn-block">Retour</a>
    </div>
  </div>
</div>
{% endblock %}
