{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
      <h1>User</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
          <tbody>
              <tr>
                  <th>Email</th>
                  <td>{{ user.email }}</td>
              </tr>
              <tr>
                  <th>Roles</th>
                  <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
              </tr>
              <tr>
                  <th>Nom</th>
                  <td>{{ user.nom }}</td>
              </tr>
              <tr>
                  <th>Prenom</th>
                  <td>{{ user.prenom }}</td>
              </tr>
              <tr>
                  <th>DateNaissance</th>
                  <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
              </tr>
              <tr>
                  <th>Pseudo</th>
                  <td>{{ user.pseudo }}</td>
              </tr>
          </tbody>
      </table>

      <a href="{{ path('user_index') }}" class="btn-success btn btn-block">Retour</a>

      <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn-success btn btn-block">Editer</a>

      {{ include('user/_delete_form.html.twig') }}
    </div>
  </div>
</div>
{% endblock %}
