<form method="post" action="{{ path('alcool_delete', {'id': alcool.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette alcool ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alcool.id) }}">
    <button class="btn btn-danger btn-block">Supprimer</button>
</form>
