{% extends 'base.html.twig' %}

{% block title %}Edit Alcool{% endblock %}

{% block body %}
<div class="container">
  <h1>Édition de l'alcool</h1>
  <div class="row">
    {{ include('alcool/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alcool_index') }}" class="btn btn-success btn-block">Retour</a>

    {{ include('alcool/_delete_form.html.twig') }}
  </div>

</div>
{% endblock %}
