{% extends 'base.html.twig' %}

{% block title %}Alcool index{% endblock %}

{%block body%}
<div class="container">
  <div class="row">
    {%for alcool in alcools%}
    <div class="col-md-4 mx-auto">
      <a href="{{path('alcool_show', {'id': alcool.id})}}"><span class="badge">{{alcool.note}}</span><img src="{{asset('images/alcools/' ~ alcool.image)}}" alt="debug image" class="img-responsive" max-width="500" max-height="auto" title={{alcool.nom}}></a>
    </div>
    {%else%}
    <p class="alert alert-success text-center" role="alert">Pas encore d'alcool dans votre cave</p>
    {%endfor%}
  </div>
  <a href="{{path('alcool_new')}}" class="btn btn-success btn-block">Nouveau</a>
</div>
{%endblock%}
