{% extends 'base.html.twig' %}

{% block title %}New Alcool{% endblock %}

{% block body %}
<div class="container">
  <h1>Créer un alcool</h1>
  <div class="row">
    <div class="col-md-12">
      {{ include('alcool/_form.html.twig') }}

      <a href="{{ path('alcool_index') }}" class="btn btn-block btn-success">Retour</a>
    </div>

  </div>

</div>
{% endblock %}
