{% extends 'base.html.twig' %}

{% block title %}Alcool{% endblock %}

{% block body %}
    <h1>Alcool</h1>
<div class="container">
  <div class="row">
    <div class="com-md-12">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alcool.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ alcool.nom }}</td>
            </tr>
            <tr>
                <th>Degres</th>
                <td>{{ alcool.degres }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ alcool.note }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ alcool.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alcool_index') }}" class="btn btn-success btn-block">Retour</a>

    <a href="{{ path('alcool_edit', {'id': alcool.id}) }}" class="btn btn-success btn-block">Editer</a>

    {{ include('alcool/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
{% endblock %}
