{%extends 'base.html.twig'%}

{%block title%}TOP 10{%endblock%}

{%block body%}
<div class="container">
  <div class="row">
    {%for alcool in alcools%}
    <div class="col-md-4 mx-auto">
      {%if alcool.image is null%}
      {%set image = './images/beerJesus.jpeg'%}
      {%endif%}
      <a href="{{path('alcool_show', {'id': alcool.id})}}"><span class="badge">{{alcool.note}}</span><img src="{{asset('images/alcools/' ~ alcool.image)}}" alt="debug image" class="img-responsive" max-width="500" max-height="auto" title={{alcool.nom}}></a>
    </div>
    {%else%}
    <p class="alert alert-success text-center" role="alert">Pas encore d'alcool dans le TOP 10</p>
    {%endfor%}
  </div>
  <a href="{{path('alcool_new')}}" class="btn btn-success btn-block">Nouveau</a>
</div>
{%endblock%}
